/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
	height: 100%;
	width: 100%;

	
	
}
#split{
	/* TO arrange chat and channel side by side*/
	
/*	To give chat and channel area equal side-by-side width */


}

#channels{
	/*To set background color  in between tab-bar  and channel list to white*/
	background-color: white;
/*	To position it to the left*/
	position: absolute;
	left: 0px;
	width: 40%;
	height: 100%;
}
/*moose position*/
#moose{
	position:absolute;
	left:10px;
	top:17px;
}
#chat{

	position: absolute;
	right: 0px;
	width: 60%;
	
}
.channel-meta{
	position: absolute;
	right:0px;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    background-color: #3F51B5;
    color: white;
	height:45px;
	/* to align text to left and below to center it*/
	padding-left: 70px;
	padding-top: 28px;
}


/* CHANNELS LIST */

/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
	/*To make channel list scrollable*/
	overflow: auto;
	/*To make only channel list scrollable not the whole page*/
	position: absolute;
	top:84px;
	bottom: 72px;
	width:100%;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
	
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */
#tab-bar,#chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
	/*To set the position of tab-bar to the bottom so it covers entire page height*/
	position: absolute;
	
	bottom: 0px;
	width: 100%; /* 1vh equals to 1% of body or HTML*/
	/*To create rows of button*/
	display: flex;
	flex-direction: row;
	/*Margin top is defined for emjoi div and tab-button div*/
	margin-top: 284px;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button{
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar but, tons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
	
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */
#only-scroll{
	height: 80vh;
	overflow: scroll;
}
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
	
	height: 72px;
	
	
	
}


.message h3 {
    font-size: medium;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.date-time{
	display: flex;
	flex-direction: column;
text-align: center;
	width: 33%;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}


.message p {
    background-color: white;
    padding: 16px;
	position: relative;
}

.message p button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
	position: absolute;
	right:6px;
	bottom: 8px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left:  17.5%;
}
#chat-bar{

right: 0px;	
width: 60%;
}
#emojis-button{
	font-size: 28px;
	border: none;
	background-color: white;
	padding: 16px 16px 16px 16px;
	width: 50px;
	height: 50px;
	margin-left: 16px;
	
}

